/* You can add global styles to this file, and also import other style files */
.form-container {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 2px;
  align-items: center;
}
.form-align {
  align-items: center;
}
.form-button {
  align-items: center;
}
