
<div class="container-md mt-3">
  <h2>Customer Feature Query</h2>
  <div class="row form-inline form-container">
    <div class="col-4 form-group">
      <label for="customerId">Customer ID:&nbsp;&nbsp;</label>
      <select class="form-control-sm" id="customerId" [(ngModel)]="selectedCustomerId">
        <option *ngFor="let customer of getCustomers()" [value]="customer.id">{{ customer.id}} - {{customer.name}}</option>
      </select>
    </div>
    <div class="col-4 form-group">
      <label for="displayName">Display Name:&nbsp;&nbsp;</label>
      <select class="form-control-sm" id="displayName" [(ngModel)]="selectedDisplayName">
        <option *ngFor="let feature of getFeatures()" [value]="feature.displayName">{{ feature.id }} - {{feature.displayName}}</option>
      </select>
    </div>
    <div class="col-4 form-group">
      <button class="form-control-sm btn btn-primary" (click)="queryFeature()">Feature Query</button>
    </div>

  </div>


  <table class="table">
    <thead>
      <tr>
        <th>Feature Name</th>
        <th>Active</th>
        <th>Inverted</th>
        <th>Expired</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feature of getCustomerFeatures()">
        <td>{{ feature.name }}</td>
        <td>{{ feature.active }}</td>
        <td>{{ feature.inverted }}</td>
        <td>{{ feature.expired }}</td>
      </tr>
    </tbody>
  </table>
</div>

