<div class="container-md mt-3">
  <h4>Features</h4>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Display Name</th>
        <th>Technical Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let feature of getFeatures()">
        <td>{{ feature.id }}</td>
        <td>{{ feature.displayName }}</td>
        <td>{{ feature.technicalName }}</td>
        <td>{{ feature.description }}</td>
      </tr>
    </tbody>
  </table>


    <form class="row " [formGroup]="featureForm">
      <div class="col-3 form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Display</span>
          <input formControlName="displayName" id="displayName" type="text" class="form-control">
        </div>
      </div>
      <div class="col-3 form-group">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Technical</span>
          <input formControlName="technicalName" id="technicalName" type="text" class="form-control">
        </div>
      </div>
      <div class="col-4 form-group  form-align">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Description</span>
          <input formControlName="description" id="description" type="text" class="form-control">
        </div>
      </div>
      <div class="col-2 form-group">
        <button class="form-control-sm btn btn-primary" type="button" (click)="addFeature()">Add</button>
      </div>
    </form>

</div>
