<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Feature Admin</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-sm-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/customer">Customer</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-sm-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/feature">Feature</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-sm-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/customerFeature">Customer Feature</a>
        </li>
      </ul>
      <ul class="navbar-nav me-auto ml-sm-0">
      </ul>

    </div>
  </div>
</nav>
